<div>
<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model: @book, url: book_path, method: :patch do |f| %>
        <label>Title</label><br>
        <%= f.text_field :title %><br>
        <label>Opinion</label><br>
        <%= f.text_area :body %><br>
        <%= f.submit 'Create Book' %>
      <% end %>
    </div>
  </div>
</div>
